html,
body,
#app {
  padding: 0;
  margin: 0;
  background-color: var(--background-color-primary);
  font-family: "Roboto", sans-serif;
  color: var(--text-primary-color);
  height: 100%;
  width: 100%;
}
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.field {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 1.25rem;

  label {
    position: absolute;
    transition-duration: 300ms;
    top: 0.75rem;
    z-index: -1;
    transform-origin: 0%;
    color: rgba(107, 114, 128);
  }

  input {
    display: block;
    width: 100%;
    padding: 0.75rem 0 0.5rem 0;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid;
    border-color: rgba(243, 244, 246);
    appearance: none;
  }
  input:focus {
    outline: none;
    border-color: black;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label,
  select:focus ~ label,
  select:not([value=""]):valid ~ label {
    transform: scale(0.75, 0.75) translateY(-1.5rem);
  }

  input:focus ~ label,
  select:focus ~ label {
    color: rgba(0, 0, 0);
    left: 0px;
  }
}

// .card {
//   padding: 2rem 4rem;
//   height: 200px;
//   width: 300px;
//   text-align: center;
//   border: 1px solid var(--accent-color);
//   border-radius: 4px;
//   background-color: var(--background-color-secondary);
// }

// .switch-checkbox {
//   display: none;
// }

// .switch-label {
//   align-items: center;
//   background: var(--text-primary-color);
//   border: calc(var(--element-size) * 0.025) solid var(--accent-color);
//   border-radius: var(--element-size);
//   cursor: pointer;
//   display: flex;
//   font-size: calc(var(--element-size) * 0.3);
//   height: calc(var(--element-size) * 0.35);
//   position: relative;
//   padding: calc(var(--element-size) * 0.1);
//   transition: background 0.5s ease;
//   justify-content: space-between;
//   width: var(--element-size);
//   z-index: 1;
// }

// .switch-toggle {
//   position: absolute;
//   background-color: var(--background-color-primary);
//   border-radius: 50%;
//   top: calc(var(--element-size) * 0.07);
//   left: calc(var(--element-size) * 0.07);
//   height: calc(var(--element-size) * 0.4);
//   width: calc(var(--element-size) * 0.4);
//   transform: translateX(0);
//   transition: transform 0.3s ease, background-color 0.5s ease;
// }

// .switch-toggle-checked {
//   transform: translateX(calc(var(--element-size) * 0.6)) !important;
// }
