/*  Light Mode (Default)   */
$light-bg-color-primary: #ffffff;
$light-bg-color-secondary: #00a8e8;
$light-accent-color: #003459;
$light-text-primary-color: #000000;
$light-text-secondary-color: #9ca3af;

/*  Dark Mode   */
$dark-bg-color-primary: #00171f;
$dark-bg-color-secondary: #003459;
$dark-accent-color: #00a8e8;
$dark-text-primary-color: #ffffff;
$dark-text-secondary-color: #9ca3af;

/*  Alert Colors  */
$danger: #e12162;
$success: #00e779;
$warning: #ffc107;
