/*  Light Mode   */
$light-bg-color-primary: #ebebeb;
$light-bg-color-secondary: #fafafa;
$light-accent-color: #cacaca;
$light-text-primary-color: #222;

/*  Dark Mode   */
$dark-bg-color-primary: #1e1e1e;
$dark-bg-color-secondary: #2d2d30;
$dark-accent-color: #3f3f3f;
$dark-text-primary-color: #ddd;
