/*  Light Mode (Default)   */
$light-bg-color-primary: #ffffff;
$light-bg-color-secondary: #e5e5e5;
$light-accent-color: #fca311;
$light-text-primary-color: #000000;

/*  Dark Mode   */
$dark-bg-color-primary: #000000;
$dark-bg-color-secondary: #14213d;
$dark-accent-color: #fca311;
$dark-text-primary-color: #ffffff;

/*  Alert Colors  */
$danger: #e12162;
$success: #00e779;
$warning: #ffc107;
