#login {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-secondary);
  height: 100%;
  padding: 2rem 4rem;

  @include for-phone-only {
    width: 100%;
    padding: 0;
  }
}
.login__form {
  width: 60%;
  background-color: var(--background-color-primary);
  padding: 2rem 8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  @include for-phone-only {
    width: 100%;
    padding: 3rem 3rem;
  }
}
.login__content {
  width: 40%;
  background-color: var(--accent-color);
  // background-image: url("../assets/img/illustration/code_review.svg");
  padding: 2rem 4rem;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  @include for-phone-only {
    display: none;
  }
}
.login__option {
  display: flex;
  justify-content: space-between;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #b3b3b3;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #b3b3b3;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
